body {
    margin: 0;
    background-image: url(images/fundo2.png);
    background-size: cover;
}

aside {
    padding-top: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acertou {
    color: #FF43A3;
}

.continue {
    color: white;
    font-size: 14pt;
}

.boxPonto {
    display: flex;
    flex-direction: column;
    align-items: center;
}